<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENCARGADO</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Bienvenido, {{ current_user.nombre }}!</h1>
    <h2>¿Qué deseas realizar hoy?</h2>
    <ol>
        <li><a href="">VER OPERARIOS</a></li>
        <li><a href="/ordenestrabajo">CREAR ÓRDENES DE TRABAJO</a></li>
    </ol>
    <a href="{{ url_for('logoutordenes') }}">Cerrar Sesión</a>
</body>
</html>