<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BODEGA CATENA ZAPATA</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>BODEGA CATENA ZAPATA</h1>
    <section>
        <h2>ELEGIR SECTOR PARA INICIAR SESIÓN</h2>
        <ul>
            <li><a href="/login">Enólogo</a></li>
            <li><a href="/loginenc">Encargado</a></li> <!--derivar al login -->
            <li><a href="/loginb">Laboratorio</a></li> <!--derivar al login -->
        </ul>
    </section>
</body>
</html>