<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENCARGADO</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/form.css">
</head>
<body>
    <h1>SECTOR ENCARGADO</h1>

    <section>
        <h2>Iniciar Sesión</h2>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div id="div">
            <form method="POST" id="form" action="{{url_for('login')}}">
                <div class="f">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
                </div>
                <div class="f">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <div class="f">
                    <label for="contraseña">Contraseña</label>
                    <input type="password" id="contraseña" name="contraseña" placeholder="Password" required>
                </div>
                <button type="submit" class="toggle-btn" >Iniciar Sesión</button>
            </form>
        </div>
    </section>
</body>
</html>