<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bienvenidos Bodega Catena Zapata</h1>
    <section>
        <h2>elija sector de trabajo para iniciar sesion </h2>
        <ul>
            <li><a href="/login">Enologo</a></li>
            <li><a href="">Encargado</a></li>
            <li><a href="">Laboratorio</a></li>
        </ul>
    </section>
</body>
</html>