<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div id="div">
        <form action="/enologo" id="form" method="POST">
            <!-- rcqln es autoincremental, no debe ser parte del formulario -->
            <input type="text" class="f" name="vigencia" placeholder="vigencia">
            <input type="text" class="f" name="revision" placeholder="revision">
            <input type="text" class="f" name="fecha" placeholder="fecha">
            <input type="text" class="f" name="laboratorio" placeholder="laboratorio">
            <input type="text" class="f" name="vinoMosto" placeholder="vinoMosto">
            <input type="text" class="f" name="codigo" placeholder="codigo">
            <input type="text" class="f" name="densidad" placeholder="densidad">
            <input type="text" class="f" name="extDens" placeholder="extDens">
            <input type="text" class="f" name="bx" placeholder="bx">
            <input type="text" class="f" name="alcAlcolyzer" placeholder="alcAlcolyzer">
            <input type="text" class="f" name="alcDest" placeholder="alcDest">
            <input type="text" class="f" name="azQco" placeholder="azQco">
            <input type="text" class="f" name="foss" placeholder="foss">
            <input type="text" class="f" name="so2lt" placeholder="so2lt">
            <input type="text" class="f" name="so2Real" placeholder="so2Real">
            <input type="text" class="f" name="so2Rankine" placeholder="so2Rankine">
            <input type="text" class="f" name="atTitulable" placeholder="atTitulable">
            <input type="text" class="f" name="avDestilacion" placeholder="avDestilacion">
            <input type="text" class="f" name="colorEspectro" placeholder="colorEspectro">
            <input type="text" class="f" name="oxigeno" placeholder="oxigeno">
            <input type="text" class="f" name="co2" placeholder="co2">
            <input type="text" class="f" name="rcih" placeholder="rcih">
            <input type="text" class="f" name="rProtCalor" placeholder="rProtCalor">
            <input type="text" class="f" name="hierro" placeholder="hierro">
            <input type="text" class="f" name="cobre" placeholder="cobre">
            <input type="text" class="f" name="potasio" placeholder="potasio">
            <input type="text" class="f" name="sorbato" placeholder="sorbato">
            <input type="text" class="f" name="purezaVarietal" placeholder="purezaVarietal">
            <input type="text" class="f" name="matColArt" placeholder="matColArt">
            <input type="text" class="f" name="calcio" placeholder="calcio">
            <input type="text" class="f" name="cloruros" placeholder="cloruros">
            <input type="text" class="f" name="sulfatos" placeholder="sulfatos">
            <input type="text" class="f" name="ferro" placeholder="ferro">
            <input type="text" class="f" name="checkStab" placeholder="checkStab">
            <input type="text" class="f" name="filtrabilidad" placeholder="filtrabilidad">
            <input type="text" class="f" name="pruebaFrio" placeholder="pruebaFrio">
            <input type="text" class="f" name="npa" placeholder="npa">
            <input type="text" class="f" name="polifTotales" placeholder="polifTotales">
            <input type="text" class="f" name="rtoViabilidad" placeholder="rtoViabilidad">
            <input type="text" class="f" name="ntu" placeholder="ntu">
            <button type="submit" class="toggle-btn" class="f">ENVIAR</button>
        </form>
    </div>
</body>
</html>