body{
    font-optical-sizing: auto;
    margin: 0%;
    color: #ac9177;
    background-image: url('../images/uvas.jpeg');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 3%;
}
#div{
    width: 30%;
    margin: 20px;
    padding: 20px;
    background-color: rgba(232, 225, 225, 0.402);
    box-shadow: 0 4px 8px rgba(223, 168, 168, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 50%;
    right: 50%;
    transform: translate(-49%, -49%);
    font-weight: 500;
    font-size: 40px;
}

#div:hover{
    border-style: solid;
    border-color: #ac9177;
    color: #472f28;
}


/* Estilo para el botón */
.toggle-btn {
    background-color: #ac9177;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    display: inline-block;
    transition: background-color 0.3s ease;
    text-align: center;
    font-weight: 500;
}

.toggle-btn:hover {
    border-radius: 5px;
    background-color: #06101bda;
    color: #f9e8e8;
    font-weight: 500;
}

input{
    width: 100%;
    border-radius: 5px;
    font-size: medium;
    border: solid 1px rgb(78, 52, 73);
    margin-top: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 30px;
}